<div class="main">
  <div class="chat-list mat-elevation-z10">
    <mat-form-field class="example-form-field" appearance="outline">
      <input
        matInput
        type="text"
        [(ngModel)]="search"
        placeholder="Search for users"
        [matAutocomplete]="users"
      />
      <button
        *ngIf="search"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="search = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-autocomplete #users="matAutocomplete">
      <mat-option>Hello</mat-option>
    </mat-autocomplete>
  </div>
  <div class="chat-message mat-elevation-z10"></div>
</div>
