.main {
  height: calc(100vh - 70px);
}
.form-container {
  display: block;
  max-width: 300px;
  margin: auto;
  padding: 48px;
  border-radius: 16px;

  mat-form-field {
    width: 100%;
  }
}

.profile-image > img {
  border-radius: 100px;
  object-fit: cover;
  object-position: center;
}

.profile-image {
  position: relative;
}

.profile-image > button {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
